<div>
    <input [(ngModel)]="username" placeholder="Your username">
    <input [(ngModel)]="recipient" placeholder="Recipient's username">
    <button (click)="joinChat()">Join Chat</button>
   </div>
   <div>
    <input [(ngModel)]="message" placeholder="Type your message">
    <button (click)="sendMessage()">Send</button>
   </div>
   <div *ngFor="let msg of messages">
    {{msg.sender}}: {{msg.message}}
   </div>

   <div>
    <div style="padding: 20; font-size: large;">
        ALL CHATROOMS 
    </div>
    <div style="padding: 20; font-size: medium;color:aqua;cursor: pointer;" *ngFor="let chatroom of chatRooms" (click)="fetchOldMessages(chatroom._id)">
        {{chatroom}}
        {{chatroom._id}}
        {{chatroom.name}}
    </div>
   </div>